<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <span>Logout</span>
    </button>
  </mat-menu>
  <span>myFlix App</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>User Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field style="margin-right: 10px">
        <label>Username</label>
        <input
          matInput
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field style="margin-right: 10px">
        <label>Password</label>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="Password"
          required
        />
      </mat-form-field>
      <mat-form-field style="margin-right: 10px">
        <label>Email</label>
        <input
          matInput
          type="email"
          placeholder="Email"
          name="Email"
          required
        />
      </mat-form-field>
      <mat-form-field style="margin-right: 10px">
        <label>Birthday</label>
        <input matInput type="date" placeholder="Birthday" name="Birthday" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" style="margin-right: 10px">
      Update profile
    </button>

    <button
      mat-raised-button
      (click)="backToMovies()"
      color="primary"
      style="margin-right: 10px"
    >
      Back to Movies
    </button>
  </mat-card-actions>

  <mat-card-title>Favorite Movies</mat-card-title>
  <mat-card-content>
    <div class="movie-container">
      <div class="movie-item" *ngFor="let movie of filteredFavoriteMovies">
        <app-movie-card [movie]="movie"></app-movie-card>
        <div style="display: flex"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
